html, body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    margin-top: -1rem;
    margin-bottom: -1rem;
}

h3 {
    margin-bottom: 2rem;
}

svg {
     background-color: beige;
}

rect {
    position: relative;
}